# --- Python ---
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.log

# --- Virtual envs ---
.venv/
venv/
env/
ENV/
.conda/
conda-env/

# --- Jupyter ---
.ipynb_checkpoints/
*.nbconvert.ipynb


# --- OS / Editor ---
.DS_Store
Thumbs.db
.vscode/
.idea/

